<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- Author -->
    <meta name="author" content="Themes Industry">
    <!-- description -->
    <meta name="description" content="MegaOne is a highly creative, modern, visually stunning and Bootstrap responsive multipurpose studio and portfolio HTML5 template with 8 ready home page demos.">
    <!-- keywords -->
    <meta name="keywords" content="Creative, modern, clean, bootstrap responsive, html5, css3, portfolio, blog, studio, templates, multipurpose, one page, corporate, start-up, studio, branding, designer, freelancer, carousel, parallax, photography, studio, masonry, grid, faq">
    <!-- Page Title -->
    <title>Travelling | MegaOne HTML5 Template</title>
    <!-- Favicon -->
    <link rel="icon" href="~/vendor/img/favicon.ico">
    <!-- Bundle -->
    <link rel="stylesheet" href="~/vendor/css/bundle.min.css">
    <!-- Plugin Css -->
    <link rel="stylesheet" href="~/vendor/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/vendor/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/css/swiper.min.css">
    <link rel="stylesheet" href="~/vendor/css/wow.css">
    <!-- Slider Settings -->
    <link rel="stylesheet" href="~/vendor/css/LineIcons.min.css">
    <link rel="stylesheet" href="css/settings.css">
    <!-- Style Sheet -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/datepicker.css">
</head>
<body data-offset="50" data-spy="scroll" data-target=".navbar">
    <!-- Preloader -->
    <div class="preloader">
        <div class="center">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-top-default fixed-top navbar-fixed-top">
            <!--Side Menu Button-->
            <div class="container">
                <a class="navbar-brand scroll" href="#home">
                    <img src="img/logo.png" alt="logo">
                </a>
                <!--Nav Links-->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item  active">
                            <a class="nav-link scroll" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  scroll" href="#destinations">Destinations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#testimonials">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Container End -->
            <a href="javascript:void(0)" class="sidemenu_btn link" id="sidemenu_toggle">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <a class="number">
                <p>+1 631 123 4567 </p>
            </a>
        </nav>
        <!-- Navbar End -->
        <!-- Side-Nav Start -->
        <div class="side-menu side-menu-opacity">
            <div class="bg-overlay"></div>
            <div class="inner-wrapper">
                <a class="image scroll" href="#home">
                    <img src="img/side-menu.png" alt="image">
                </a>
                <span class="btn-close" id="btn_sideNavClose"><i></i><i></i></span>
                <nav class="side-nav w-100">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#home">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  scroll" href="#destinations">Destinations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#testimonials">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="side-menu-footer">
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a href="#" class="hover"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li><a href="#" class="hover"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" class="hover"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" class="hover"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                    <p class="copywrite text-left">&#169; 2020 MegaOne. <br>Made With Love by Themesindustry.</p>
                </div>
            </div>
        </div>
        <a id="close_side_menu" href="javascript:void(0);"></a>
        <!-- Side-Nav End -->
    </header>
    <!-- Header End -->
            @RenderBody()
    <!-- Contact section Start-->
    <section class="contact-section" id="contact">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-6 col-md-12 col-sm-12 text-section wow fadeInLeft" data-wow-delay="400ms">
                    <h5 class="subheading">Lorem ipsum dolor sit amet consectetur</h5>
                    <h2 class="heading">Megaone Travels</h2>
                    <p class="text">123 Stree New York City , United States Of America.</p>
                    <p class="text">Office Telephone : 001 01085379709<br>Mobile : 001 63165370895 </p>
                    <p class="text">Email : admin@website.com<br>Inquiries : email@website.com</p>
                    <p class="text">Mon-Fri: 9am to 6pm</p>
                    <div class="social-icons">
                        <ul>
                            <li>
                                <a class="facebook-hover wow fadeInUp" data-wow-delay="400ms" href="#.">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a class="twitter-hover wow fadeInDown" data-wow-delay="400ms" href="#.">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="google-plus-hover wow fadeInUp" data-wow-delay="400ms" href="#.">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li>
                                <a class="linked-in-hover wow fadeInDown" data-wow-delay="400ms" href="#.">
                                    <i class="fab fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a class="instagram-hover wow fadeInUp" data-wow-delay="400ms" href="#.">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 form-section wow fadeInRight" data-wow-delay="400ms">
                    <form class="contact-form" id="contact-form-data">
                        <div class="row">
                            <div class="col-12" id="result"></div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" id="quote_name" type="email" placeholder="Your Name" required="" name="userName">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="quote_email" type="email" placeholder="Email Address*" required="" name="userEmail">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" id="subject" type="text" placeholder="Subject" required="" name="userSubject">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Write your message here" name="userMessage" rows="7" cols="50"></textarea>
                                </div>
                            </div>
                            <div class="button-center">
                                <a href="JavaScript:void(0);" class="btn button btn-rounded green-btn btn-hvr-blue contact_btn">
                                    Send Message
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </section>
    <!-- Contact section End -->
    <!--Scroll Top Start-->
    <span class="scroll-top-arrow"><i class="fas fa-angle-up"></i></span>
    <!--Scroll Top End-->
    <!-- JavaScript -->
    <script src="~/vendor/js/bundle.min.js"></script>
    <!-- Plugin Js -->
    <script src="~/vendor/js/jquery.fancybox.min.js"></script>
    <script src="~/vendor/js/owl.carousel.min.js"></script>
    <script src="~/vendor/js/swiper.min.js"></script>
    <script src="~/vendor/js/wow.min.js"></script>
    <!-- custom script -->
    <script src="~/vendor/js/contact_us.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/script.js"></script>
</body>
</html>