@using TravelTask.Areas.Admin.Models
@using TravelTask.Areas.Admin.Models.Destinations
@model PagedEntityModel<List<DestinationsItemViewModel>>


<a asp-action="Create" class="btn btn-success">Create</a>


@section scripts
{
    <script type="text/javascript">

        $("body").on("click", " #table-responsive #pagination a", function (ev) {
            ev.preventDefault();
            let url = $(this).attr('href');
            alert(url)
            fetch(url).then(a => a.text()).then(a => $("#table-responsive").html(a));
        });
    </script>
}


<div id="table-responsive" class="table-responsive">
    <partial name="_PaginatedEntityTable" />
</div>